name: Build
on:
  pull_request:
  push:
    branches: [main]
  release:
    types: [published]

jobs:
  build-sdist:
    name: Build Sdist
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - name: Set up pixi
        uses: prefix-dev/setup-pixi@a0af7a228712d6121d37aba47adf55c1332c9c2e # v0.9.4
        with:
          environments: build
      - name: Set version
        run: pixi run -e build set-version
      - name: Build project
        run: pixi run -e build build-sdist
      - name: Upload package
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: sdist
          path: dist/*

  build-wheel:
    name: Build Wheel (${{ matrix.target-platform }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - target-platform: linux-64
            os: ubuntu-latest
          - target-platform: linux-aarch64
            os: ubuntu-24.04-arm
          - target-platform: osx-64
            os: macos-15-intel
          - target-platform: osx-arm64
            os: macos-latest
          - target-platform: win-64
            os: windows-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - name: Set up pixi
        uses: prefix-dev/setup-pixi@a0af7a228712d6121d37aba47adf55c1332c9c2e # v0.9.4
        with:
          environments: build
      - name: Set version
        run: pixi run -e build set-version
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.10"
      - name: Build wheel
        uses: PyO3/maturin-action@86b9d133d34bc1b40018696f782949dac11bd380 # v1.49.4
        with:
          command: build
          args: --out dist --release
          manylinux: auto
          sccache: true
      - name: Check package
        run: pixi run -e build check-wheel
      - name: Upload package
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: wheel-${{ matrix.target-platform }}
          path: dist/*

  release:
    name: Publish package
    if: github.event_name == 'release'
    needs: build-wheel
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    environment: pypi
    steps:
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: dist
          merge-multiple: true
      - name: Publish package on PyPi
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
